{% extends 'base.html' %}
{% load static %}
{% block title %} Politique de Cookies - JobFeeling {% endblock %}
{% block breadcrumb %}
<li class="flex items-center">
  <span class="text-gray-500">Politique de Cookies</span>
</li>
{% endblock %}

{% block content %}
<section class="sectionContainer">
  <h1 class="h1Style">Politique de Cookies</h1>
  <div class="flex flex-col w-full gap-4 mx-auto leading-relaxed lg:w-3/4">
    <p>
      Cette politique de cookies explique ce que sont les cookies, comment nous les utilisons sur notre site web, et les choix que vous avez en ce qui concerne leur utilisation. En utilisant notre site, vous acceptez l'utilisation des cookies dans le respect de cette politique.
    </p>

    <h2 class="mt-6 text-2xl font-semibold font-titleFont">Que sont les cookies ?</h2>
    <p>
      Les cookies sont de petits fichiers texte placés sur votre appareil pour collecter des données standard de journal Internet et des informations sur le comportement des visiteurs. Lorsque vous visitez notre site, nous pouvons collecter des informations automatiquement par le biais de cookies ou de technologies similaires.
    </p>

    <h2 class="mt-6 text-2xl font-semibold font-titleFont">Comment utilisons-nous les cookies ?</h2>
    <p>
      Nous utilisons les cookies de différentes manières pour améliorer votre expérience sur notre site, notamment :
    </p>
    <ul class="pl-6 list-disc">
      <li>Pour vous garder connecté(e) sur votre compte utilisateur</li>
      <li>Pour comprendre comment vous utilisez notre site</li>
      <li>Pour personnaliser votre expérience en fonction de vos préférences</li>
      <li>Pour recueillir des données analytiques afin d'améliorer nos services</li>
    </ul>

    <h2 class="mt-6 text-2xl font-semibold font-titleFont">Types de cookies que nous utilisons</h2>
    <p>
      Il existe plusieurs types de cookies, mais notre site utilise :
    </p>
    <ul class="pl-6 list-disc">
      <li><strong>Cookies strictement nécessaires :</strong> Ces cookies sont essentiels pour vous permettre de naviguer sur le site et d'utiliser ses fonctionnalités.</li>
      <li><strong>Cookies de performance :</strong> Ces cookies recueillent des informations sur la façon dont les visiteurs utilisent notre site, comme les pages les plus visitées.</li>
      <li><strong>Cookies de fonctionnalité :</strong> Ces cookies permettent au site de se souvenir des choix que vous faites (comme votre nom d'utilisateur, votre langue ou la région dans laquelle vous vous trouvez) et de fournir des fonctionnalités améliorées et plus personnalisées.</li>
      <li><strong>Cookies de ciblage/publicité :</strong> Ces cookies sont utilisés pour vous envoyer des publicités qui sont pertinentes pour vous et vos intérêts.</li>
    </ul>

    <h2 class="mt-6 text-2xl font-semibold font-titleFont">Comment gérer les cookies ?</h2>
    <p>
      Vous pouvez configurer votre navigateur pour refuser les cookies, et les sites web ci-dessous vous indiquent comment supprimer les cookies de votre navigateur. Cependant, dans quelques cas, certaines fonctionnalités de notre site peuvent ne pas fonctionner.
    </p>
    <ul class="pl-6 list-disc">
      <li><a href="https://www.aboutcookies.org/how-to-delete-cookies/" class="underline">Comment supprimer les cookies dans votre navigateur</a></li>
      <li><a href="https://www.aboutcookies.org/how-to-control-cookies/" class="underline">Comment contrôler les cookies dans votre navigateur</a></li>
    </ul>

    <h2 class="mt-6 text-2xl font-semibold font-titleFont">Modification de notre politique de cookies</h2>
    <p>
      Nous pouvons mettre à jour notre politique de cookies de temps à autre pour refléter les changements dans nos pratiques ou pour d'autres raisons opérationnelles, juridiques ou réglementaires. Nous vous encourageons donc à consulter régulièrement cette page pour rester informé(e) de notre utilisation des cookies.
    </p>

    <h2 class="mt-6 text-2xl font-semibold font-titleFont">Contactez-nous</h2>
    <p>
      Si vous avez des questions sur notre politique de cookies, veuillez nous contacter à l'adresse <a href="mailto:support@jobfeeling.fr" class="underline ">support@jobfeeling.fr</a>.
    </p>
  </div>
</section>
{% endblock %}
