{% extends 'base.html' %}

{% block title %} Mentions Légales - JobFeeling {% endblock %}
{% block breadcrumb %}
<li class="flex items-center">
  <span class="text-gray-500">Mentions Légales</span>
</li>
{% endblock %}

{% block content %}
<section class="sectionContainer">
  <h1 class="h1Style">Mentions Légales</h1>
  <div class="flex flex-col w-full gap-4 mx-auto leading-relaxed lg:w-3/4">
    <h2 class="mt-6 text-2xl font-semibold font-titleFont">Informations légales</h2>
    <p>
      Nom de l'entreprise : JobFeeling
      <br />
    </p>
    <h2 class="mt-6 text-2xl font-semibold font-titleFont">Responsable de la publication</h2>
    <p>
      Le responsable de la publication de ce site web est M.
      Brana Benjamin, en sa qualité de CEO.
    </p>
    <h2 class="mt-6 text-2xl font-semibold font-titleFont">Hébergeur</h2>
    <p>
      Nom de l'hébergeur :  <br />
      Adresse de l'hébergeur :  <br />
      Numéro de téléphone de l'hébergeur : 
    </p>
    <h2 class="mt-6 text-2xl font-semibold font-titleFont">Propriété intellectuelle</h2>
    <p>
      Tous les éléments de ce site web, y compris les textes, graphiques, logos, animations, sont la propriété exclusive de JobFeeling.
    </p>
    <h2 class="mt-6 text-2xl font-semibold font-titleFont">Limitation de responsabilité</h2>
    <p>
      JobFeeling ne peut être tenu responsable des erreurs rencontrées sur le site, problèmes techniques, interprétation des informations publiées et conséquences de leur utilisation. L'utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.
    </p>
    <h2 class="mt-6 text-2xl font-semibold font-titleFont">Création du site web</h2>
    <p>
      Ce site web a été conçu et réalisé par Brana Benjamin.
    </p>
  </div>
</section>
{% endblock %}
